.container {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  /* border: 1px solid green; */
}

.iconContainer {
  height: 45%;
}

@media screen and (min-width: 425px) {
  .container {
    display: none;
  }
}
