.container {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  /* border: 1px solid green; */
}

.iconContainer {
  height: 45%;
}

.container h1 {
  z-index: 3;
}

@media screen and (min-width: 425px) {
  .container {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .container {
    z-index: 1;
  }
}
