.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 0.7vmin;
  min-height: 100vh;
  min-width: 17%;
  overflow-y: scroll;
  padding-bottom: 6vmin;
}

.titleContainer::-webkit-scrollbar {
  display: none;
}

.titleContainer {
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
}

.textContainer {
  width: auto;
  display: inline-block;
  display: flex;
  /* opacity: 0; */
  transition: opacity, 0.3s;
  transition: color 0.4s;
}

.textContainer [href] {
  display: flex;
  gap: 0.5vmin;
}

.textContainer h3 {
  text-align: left;
}

.textContainer h3:nth-child(1) {
  white-space: nowrap;
  width: fit-content;
  display: inline-block;
}

.barContainer {
  position: relative;
  height: 3vmin;
  width: 20%;
}

.bar {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px; /* Épaisseur de la barre */
  background-color: #000; /* Couleur de la barre */
  transform: translateY(-50%); /* Centre la barre verticalement */
}

.text {
  z-index: 3;
}

@media screen and (max-width: 425px) {
  .titleContainer {
    display: none;
    /* border: 1px solid green; */
    max-height: 100%;
    min-height: auto;
    width: 100%;
    z-index: 1;
  }
  .textContainer {
    opacity: 1;
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
  }
  .textContainer h3 {
    /* font-size: 6.8vmin; */
    display: flex;
    justify-content: flex-end;
  }
  .barContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 3vmin;
    padding-bottom: 3vmin;
  }
  .bar {
    position: relative;
    width: 20%;
  }
}

/*TABLETTE*/

@media screen and (min-width: 601px) and (max-width: 1024px) and (min-height: 481px) {
  .textContainer h3 {
    font-size: 1.8vmin;
  }
}

@media screen and (min-width: 425px) {
  .titleContainer {
    /* width: 23vw; */
    max-width: 30vw;
    box-sizing: border-box;
    padding-left: 6vmin;
  }
}
