.mainContainer {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  gap: 2vmin;
  position: relative;
}

.galleryContainer {
  height: 80vh;
  align-content: flex-start;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-content: flex-start;
  overflow-y: scroll;
  grid-gap: 2vmin;
  gap: 2vmin;
  position: relative;
}

.galleryContainer::-webkit-scrollbar {
  display: none;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 8;
  padding-bottom: 6vmin;
}

.picContainer {
  height: 25vmin;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}

.logoContainer {
  height: 5vmin;
  width: 5vmin;
}

.mobileModalUp {
  display: none;
}

.mobileModalDown {
  display: none;
}

.modalContainer {
  position: relative;
  z-index: 0;
}

@media screen and (max-width: 425px) {
  .mainContainer {
    padding-bottom: 0 !important;
  }

  .galleryContainer {
    grid-template-columns: repeat(3, 1fr);
    height: 74vh;
  }

  .picContainer {
    height: 40vmin;
  }
  .logoContainer {
    height: 10vmin;
    width: 10vmin;
  }
}
