.mainContainer {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;

  justify-content: space-between;
  padding-bottom: 0;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  gap: 2vmin;
  position: relative;
  align-items: center;
}

.galleryContainer {
  height: calc(100vh - 6vmin);
  align-content: flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vmin, 1fr));
  align-content: flex-start;
  overflow-y: scroll;
  grid-gap: 2vmin;
  gap: 2vmin;
  position: relative;
  padding-bottom: 6vmin;
  box-sizing: border-box;
  width: calc(50vw - 6vmin);
}

.galleryContainer::-webkit-scrollbar {
  display: none;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 8;
  padding-bottom: 6vmin;
}

.picContainer {
  height: 32vmin;
  max-width: 20vmin;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}

.logoContainer {
  height: 5vmin;
  width: 5vmin;
}

.mobileModalUp {
  display: none;
}

.mobileModalDown {
  display: none;
}

.modalContainer {
  position: relative;
  z-index: 0;
}

@media screen and (max-width: 425px) {
  .mainContainer {
    padding-bottom: 0 !important;
    max-height: 80%;
    box-sizing: border-box;
    flex-direction: column;
  }

  .modalContainer {
    width: 100%;
    /* border: 1px solid red; */
    max-height: 90%;
    height: 90%;
    box-sizing: border-box;
  }

  .galleryContainer {
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    box-sizing: border-box;
    max-width: 100%;
    width: auto;
    /* border: 2px solid green; */
  }

  .picContainer {
    height: 40vmin;
    max-width: 100%;
  }
  .logoContainer {
    height: 10vmin;
    width: 10vmin;
  }
}

@media screen and (min-width: 425px) {
  .mainContainer {
    width: 100%;
    /* border: 3px solid red; */
  }
}

/*TABLETTES*/

@media screen and (min-width: 601px) and (max-width: 1024px) and (min-height: 481px) {
  .galleryContainer {
    grid-template-columns: repeat(auto-fit, minmax(12vmin, 1fr));
  }

  .picContainer {
    height: 22vmin;
    max-width: 12vmin;
  }
}

/* FIX IPHONE + SAFARI

@media all and (min-resolution: 0.001dpcm) and (max-width: 425px) {
  .galleryContainer {
    height: 64vh;
  }
} */

/* FIX IPHONE 8 & 8 Plus */

/* @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .galleryContainer {
    height: 60vh;
  }
}

@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  .galleryContainer {
    height: 60vh;
  }
} */
