.mainContainer {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5vmin;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 2vmin;
}

.galleryContainer {
  display: grid;
  min-height: 100%;
  /* border: 1px solid orange; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow-y: scroll;
  gap: 2vmin;
}

.picContainer {
  width: 100%;
  height: 18vmin;
  position: relative;
  /* border: 1px solid red; */
  overflow: hidden;
  height: 21vmin;

  flex-grow: 1;
}
