.mainContainer {
  display: flex;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 32%;
  overflow-y: scroll;
}

.textContainer {
  width: auto;
  display: inline-block;
}

.galleryContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vmin;
  overflow-y: scroll;
}

.galleryContainer::-webkit-scrollbar,
.titleContainer::-webkit-scrollbar {
  display: none;
}

.picContainer {
  position: relative;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.4s;
  flex-shrink: 1;
}

.hidden {
  opacity: 0;
  transition: opacity 0.4s;
}
