.mainContainer {
  display: flex;
  gap: 10vmin;
  width: 100%;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 20%;
  overflow-y: scroll;
  scrollbar-color: transparent;
  scrollbar-width: none;
}

.textContainer {
  width: auto;
  display: inline-block;
  width: fit-content;
  opacity: 0;
  transition: opacity, 0.3s;
}

.galleryContainer {
  align-content: flex-start;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow-y: scroll;
  gap: 2vmin;
  scrollbar-color: transparent;
  scrollbar-width: none;
  /* border: 1px solid red; */
}

.galleryContainer::-webkit-scrollbar,
.titleContainer::-webkit-scrollbar {
  display: none;
}

.picContainer {
  height: 16vmin;
  max-width: 25vmin;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  box-sizing: border-box;
}

.hiddenText {
  color: grey;
  transition: color 0.4s;
}

.hiddenText:hover {
  color: black;
  transition: color 0.4s;
}

.hiddenPhoto {
  opacity: 0;
  transition: opacity 0.3s;
}

.projectContainer > h3 {
  display: none;
}

@media only screen and (min-width: 425px) and (max-width: 1070px) {
  .galleryContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 425px) {
  .galleryContainer {
    width: 100%;
  }
  .titleContainer {
    display: none;
  }
  .textContainer {
    opacity: 1;
  }
  .picContainer {
    width: 100%;
    max-width: 100%;
  }
  .projectContainer {
    display: flex;
    flex-direction: column;
    gap: 1vmin;
  }
  .projectContainer > h3 {
    display: block;
  }
}
