.mainContainer {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5vmin;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  min-width: 20%;
  overflow-y: scroll;
  gap: 3vmin;
}

.titleContainer::-webkit-scrollbar {
  display: none;
}

.infoBloc {
  display: flex;
  flex-direction: column;
}

.infoBloc > p {
  font-size: 1.5vmin;
  font-family: "ReadexProLight";
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 3vmin;
}

.textContainer > p:nth-child(2) {
  color: grey;
  font-family: "ReadexProLight";
}

@media screen and (max-width: 425px) {
  .textContainer {
    width: 70%;
  }
}
