html,
* body {
  max-width: 100vw;
  height: calc(100vh - env(safe-area-inset-bottom));
  max-height: calc(100vh - env(safe-area-inset-bottom));

  margin: 0;
  padding: 0;
  background-color: white;
  margin: 0;
  overflow: auto;
  cursor: url("../public/dot_black.png"), auto;
  /* cursor: url("../public/cursor.png"), auto; */

  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  p {
    color: black;
    font-family: "ReadexProRegular";
    text-align: justify;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1;
    transition: color 0.4s;
  }
}

h1 {
  font-size: 5.8vmin;
  font-family: "ReadexProRegular";
  display: inline-block;
  margin-block-start: 0;
  margin-block-end: 0;
}

h3 {
  font-size: 1.7vmin;
  font-weight: normal;
}

p {
  font-size: 2vmin;
  /* Fix Safari */
  font-family: "ReadexProRegular";
  text-align: justify;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1;
}

.mainContainer {
  display: flex;
  width: 100vw;
  height: calc(100% - env(safe-area-inset-bottom));
  max-height: calc(100vh - env(safe-area-inset-bottom));
  overflow: hidden;
}

.rightPartContainer {
  max-height: calc(
    100vh - env(safe-area-inset-bottom) - env(safe-area-inset-top)
  );
  height: 100vh;
  width: 100%;
  padding: 6vmin;
  padding-right: 11vmin;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.4s;
}

.fadeOut {
  opacity: 1;
  transition: opacity 0.4s;
}

.fadeOutActive {
  opacity: 0;
  transition: opacity 0.4s;
}

[href] {
  cursor: url("../public/dot_white_big.png"), auto;
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 425px) {
  h2 {
    font-size: 3.5vmin;
  }
  .mainContainer {
    flex-direction: column;
    /* height: calc(
      100vh - env(safe-area-inset-bottom) - env(safe-area-inset-top)
    ); */
    max-height: 100vh;
  }
  p {
    font-size: 2.8vmin;
  }
  .rightPartContainer {
    min-height: 100%;
    width: 100vw;
    padding: 6vmin !important;
    justify-content: center !important;
  }
}

/*FIX SAFARI */

_::-webkit-full-page-media,
_:future,
:root h3 {
  font-family: "ReadexProLight";
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1.5vmin;
}

_::-webkit-full-page-media,
_:future,
:root h1 {
  font-family: "ReadexProRegular";
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 5vmin;
}

/* FONTS */

@-moz-document url-prefix() {
  h3 {
    font-family: "ReadexProLight";
  }
}

@supports (-moz-appearance: none) {
  h3 {
    font-family: "ReadexProLight";
  }
}

@font-face {
  font-family: "ReadexPro";
  src: local("ReadexPro"),
    url("../public/fonts/ReadexPro-VariableFont_HEXP\,wght.ttf")
      format("truetype");
}

@font-face {
  font-family: "ReadexProRegular";
  src: local("ReadexProRegular"),
    url("../public/fonts/ReadexPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ReadexProLight";
  src: local("ReadexProLight"),
    url("../public/fonts/ReadexPro-ExtraLight.ttf") format("truetype");
}
