.mainContainer {
  display: flex;
  justify-content: flex-end;
  /* width: 100vw; */

  width: 100%;
  /* border: 2px solid red;
  box-sizing: border-box; */
}

.picContainer {
  height: 100%;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 425px) {
  .mainContainer {
    justify-content: center;
    width: 100vw;
  }
  .rightPartContainer {
    /* min-height: 100%; */
    width: 100vw;
    padding: 6vmin !important;
    justify-content: center !important;
  }
}
