.mainContainer {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}

.picContainer {
  height: 100%;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 425px) {
  .mainContainer {
    flex-direction: column;
    height: calc(
      100vh - env(safe-area-inset-bottom) - env(safe-area-inset-top)
    );
    max-height: calc(
      100vh - env(safe-area-inset-bottom) - env(safe-area-inset-top)
    );
  }
  .rightPartContainer {
    height: 100%;
    max-height: 100%;
    /* min-height: 100%; */
    width: 100vw;
    padding: 6vmin !important;
    justify-content: center !important;
  }
}
