.mainContainer {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}

.picContainer {
  height: 100%;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 425px) {
  .mainContainer {
    padding-right: 0;
  }
}
