.mainContainer {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  gap: 6vmin;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 0.7vmin;
  min-height: 100vh;
  min-width: 17%;
  overflow-y: scroll;
  padding-bottom: 6vmin;
}

@media screen and (min-width: 425px) {
  .titleContainer {
    width: 20vw;
  }
}

.textContainer {
  width: auto;
  display: inline-block;
  display: flex;
  opacity: 0;
  transition: opacity, 0.3s;
  transition: color 0.4s;
}

.textContainer [href] {
  display: flex;
  gap: 0.5vmin;
}

.textContainer h3 {
  text-align: left;
}

.textContainer h3:nth-child(1) {
  white-space: nowrap;
  width: fit-content;
  display: inline-block;
}

.hiddenText {
  color: grey;
  transition: color 0.4s;
}

.modalContainer {
  position: relative;
}

.galleryContainer {
  height: 100%;
  align-content: flex-start;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: flex-start;
  overflow-y: scroll;
  gap: 2vmin;
  padding-bottom: 6vmin;
  box-sizing: border-box;
}

.picContainer {
  height: 25vmin;
  position: relative;
  /* border: 1px solid red; */
  overflow: hidden;
  flex-grow: 1;
}

.mobileModal {
  display: none;
}

.mainContainer h1 {
  display: none;
}

@media screen and (max-width: 425px) {
  .mainContainer {
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding-bottom: 0 !important;
    padding-top: 0;
  }

  .mainContainer h1 {
    display: block;
    align-self: flex-end;
  }

  .titleContainer {
    display: none;
  }
  .galleryContainer {
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    z-index: 3;
    height: 74vh;
    box-sizing: border-box;
    padding-bottom: 6vmin;
    /* border: 3px solid green; */
  }
  .picContainer {
    height: 40vmin;
  }
  .textContainer {
    opacity: 1;
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
  }
  .textContainer h3 {
    font-size: 2.8vmin;
  }
  .mobileModal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    gap: 2vmin;
    background-color: white;
    padding-bottom: 6vmin;
    z-index: 4;
    position: absolute;
    width: 100%;
    height: 100%;
    /* bottom: 0; */
    overflow-y: scroll;
    box-sizing: border-box;
  }
  .mobileModal h3 {
    font-size: 4vmin;
    text-align: right;
    /* width: max-content;
    max-width: 100%; */
  }

  /* .mobileModal h3:nth-child(2) {
    width: max-content;
    white-space: normal;
  } */

  /* .textContainer h3:nth-child(1) {
    white-space: normal;
  } */
}

@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
  .galleryContainer {
    height: 67vh;
  }
}

/* FIX IPHONE 8 & 8 Plus */

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .modalContainer {
    height: 60vh;
  }
  .galleryContainer {
    height: 60vh;
  }
}

/* ////// */

@media screen and (max-width: 1220px) {
  .galleryContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1090px) {
  .galleryContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* HIDE SCROLLBAR FOR CHROME & FIREFOX */

.galleryContainer::-webkit-scrollbar,
.titleContainer::-webkit-scrollbar,
.mobileModal::-webkit-scrollbar {
  display: none;
}

.galleryContainer,
.titleContainer {
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
}

/* ///////////// */
