.mainContainer {
  /* border: 1px solid red; */

  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}

.titleContainer {
  display: inline-flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: scroll;
  width: 26%;
}

.textContainer {
  width: auto;
  display: inline-block;
}

.galleryContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-y: scroll;
  gap: 2vmin;
  width: 69%;
  padding-bottom: 6vmin;
}

.galleryContainer::-webkit-scrollbar,
.titleContainer::-webkit-scrollbar {
  display: none;
}

.picContainer {
  height: 21vmin;
  width: auto;
  position: relative;
  /* border: 1px solid red; */
  overflow: hidden;
  flex-grow: 1;
}
