.mainContainer {
  /* border: 1px solid red; */
  display: flex;
  /* overflow-y: hidden; */
  justify-content: space-between;
  padding-bottom: 0;
  gap: 10vmin;
  height: 100vh;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 20%;
  overflow-y: scroll;
}

.textContainer {
  width: auto;
  display: inline-block;
  opacity: 0;
  transition: opacity, 0.3s;
  transition: color 0.4s;
}

.hiddenText {
  color: grey;
  transition: color 0.4s;
}

.galleryContainer {
  /* display: flex;
  flex-wrap: wrap; */
  align-content: flex-start;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: flex-start;
  overflow-y: scroll;
  gap: 2vmin;
  position: relative;
  padding-bottom: 6vmin;
}

.galleryContainer::-webkit-scrollbar,
.titleContainer::-webkit-scrollbar {
  display: none;
}

.picContainer {
  height: 25vmin;
  position: relative;
  /* border: 1px solid red; */
  overflow: hidden;
  flex-grow: 1;
}

.Container {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}

.mobileModal {
  display: none;
}

.mainContainer h1 {
  display: none;
}

@media screen and (max-width: 425px) {
  .mainContainer {
    flex-direction: column;
  }
  .mainContainer h1 {
    display: block;
    align-self: flex-end;
  }

  .titleContainer {
    display: none;
  }
  .galleryContainer {
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    z-index: 3;
    /* border: 3px solid green; */
  }
  .picContainer {
    height: 40vmin;
  }
  .textContainer {
    opacity: 1;
    display: flex;
    justify-content: flex-end;
  }
  .textContainer h3 {
    font-size: 2.8vmin;
  }
  .mobileModal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    min-height: 80vh;
    background-color: white;
    z-index: 4;
    position: absolute;
    width: 100%;
    /* bottom: 0; */
    /* overflow-y: scroll; */
    box-sizing: border-box;
    padding-bottom: 6vmin;
    border: 3px solid green;
  }
}
