.mainContainer {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  max-height: 100vh;
  padding: 6vmin;
  gap: 3vmin;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  max-height: 20vh;
  justify-content: space-around;
}

.descriptionContainer {
  overflow-y: scroll;
}

.descriptionContainer::-webkit-scrollbar {
  display: none;
}

.slidersContainer {
  display: grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-height: 60vh;
}

.photoBlockContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picContainer {
  width: 100%;
  max-height: 50vmin;
  position: relative;
  overflow: hidden;
}

.prioritiesContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.prioritiesContainer p {
  font-size: 1.5vmin;
}

.textContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: auto;
  max-height: 20vh;
}

.logoContainer {
  height: 4vmin;
  width: 4vmin;
}
