.mainContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;

  /* border: 1px solid brown; */
}

.infoContainer {
  display: flex;
  justify-content: space-between;
}

.descriptionContainer {
  overflow-y: scroll;
}

.descriptionContainer::-webkit-scrollbar {
  display: none;
}

.slidersContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
  gap: 5vmin;
}

.modal {
  right: 0;
  position: absolute;
  /* border: 3px solid white; */
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2vmin;
  box-sizing: border-box;
  background-color: white;
  z-index: 8;
  gap: 4vmin;
}

.modalUpperContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2vmin;
}

.photoBlockContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2vmin;
  position: relative;
  width: 100%;
}

.photoContainer {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.8vmin;
}
.picContainer {
  width: 100%;
  height: calc(100% - 2vmin);
  position: relative;

  /* border: 1px solid red; */
  overflow: hidden;
}

.photoInfoContainer {
  height: 2vmin;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.photoInfoContainer p:nth-child(1) {
  font-family: var(--texItalic);
}

.prioritiesContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.priorities p:nth-child(2) {
  font-family: var(--texBold);
}

.textContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: auto;
  max-height: 20vh;
}

.logoContainer {
  height: 5vmin;
  width: 5vmin;
}

.mobileBottom {
  display: none;
  justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .slidersContainer {
    justify-content: center;
  }
  .picContainer {
    height: auto;
  }
  .infoContainer {
    /* border: 1px solid red; */
    align-items: center;
  }
  .mobileBottom {
    display: flex;
    justify-content: center;
    width: 100%;

    /* position: absolute;
    transform: translateY(20%);
    bottom: 0; */
  }
  .mobileInfoContainer {
    display: flex;
    flex-direction: column;

    justify-content: center;
  }
  .logoContainer {
    height: 10vmin;
    width: 10vmin;
  }
  .modal {
    /*border: 1px solid red; */
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-end;
    box-sizing: border-box;
  }
  .prioritiesContainer {
    flex-direction: column;
    gap: 3vmin;
    align-items: flex-start;
    font-size: 2.8vmin;
    font-family: "ReadexPro";
  }
  .prioritiesContainer p {
    font-size: 2.8vmin;
    font-family: "ReadexPro";
  }
  .prioritiesContainer h3 {
    font-family: "ReadexPro";
    font-size: 2.8vmin;
    color: grey;
  }
  .textContainer {
    flex-direction: column;
    /* gap: 3vmin; */
    box-sizing: border-box;
  }
}
