.mainContainer {
  max-height: 100vh;
  /* min-width: 28vw; */
  display: flex;
  /* justify-content: center; */
  padding: 6vmin;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photoArchiContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2vmin;
  cursor: url("../../public/dot_white.png"), auto;
}

.photoArchiContainer > h1 {
  border: 1px solid red;
}

.archiStyle:hover {
  color: blue;
}

@media screen and (max-width: 425px) {
  .titleContainer {
    width: 100%;
  }
  .photoArchiContainer {
    /* border: 1px solid red; */
    align-self: flex-end;
  }
}
