.mainContainer {
  max-height: 100%;
  /* min-width: 28vw; */
  display: flex;
  /* justify-content: center; */
  padding: 6vmin;
  box-sizing: border-box;
  /* border: 1px solid green; */
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* display: inline-block; */
}

.photoArchiContainer {
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  cursor: url("../../public/dot_white.png"), auto;
}

@media screen and (max-width: 425px) {
  .mainContainer {
    min-height: 20%;
    /* border: 1px solid green; */
    /* padding: 6vmin; */
    box-sizing: content-box;
    /* padding: 6vmin; */
    padding: 0;
    padding-right: 6vmin;
    padding-left: 6vmin;
  }
  .titleContainer {
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  .photoArchiContainer {
    /* border: 1px solid red; */
    align-self: flex-end;
    align-items: flex-end;
    gap: 0;
  }
}
